/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
* {
	display: flex;
	border: 3px solid red;
}
.container {
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
}
.nav_flex{
	display: flex;
	height: 200px;
	width: 100%;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	text-align: center;
	align-content: space-around;
	border: 1px solid blue;
}
nav a {
	height: 100%;
	width: 100px;
	margin: auto;
	color: lightgray;
	font-size: 25px;
	text-decoration: none;
	border: 1px solid yellow;
	align-content: space-around;
	text-align: center;
	padding: 20px;

}
nav a:hover {
	background: gray;
	color: red;
}
.logo { 
	height: 100px;
	width: 200px;
	margin: auto;
	padding: 0;
	border: 1px solid black;
}

header {
	display: flex;
	width: 100%;

}
.slogan_flex {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;


}
.matrix{
	height:auto;
	width: auto;
}
.slogan {
	 height: auto;
	 width: 50%;
}
.block-info {
	 
}
button {
	
}
button:hover {
	background: gray;
	color: red;
}
.middle-img {
	
}
.block-1 {
	border-top: 1px solid black;
}
.block-2 {
	border-top: 1px solid black;
	
section h4 {
	width: 400px;
}
p {
	
}
.block1 .block-info {
	
}
.block-2 .block-info {
	
}
address{
	
}
address p {
	
}